[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka = "*"
pytest = "*"
requests = "*"
visens = "*"
scicat = "*"
"h5py" = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"
pytest = "*"

[requires]
python_version = "3.7"
